<%= render "layouts/header" %>
<h1>Vous pouvez modifier ce gossip</h1>

<%= form_for @gossip do |g| %>
    <div class="form-group">
        <label>Name</label>
        <%= g.text_field :anonymous_author, class:"form-control" %>
    </div>
    <div class="form-group">
        <label>Content</label>
        <%= g.text_field :content, class:"form-control" %>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Modifier</button>
    </div>
<% end %>

<%= link_to 'Clique pour détruire', @gossip, method: :delete %>